*.svg
*.png
*.jpg
/public/*.html
/src/assets/images/**/*
/src/assets/videos/**/*
/src/assets/fonts/**/*

# minify css
/src/styles/reset.min.css
/src/styles/index.min.css

node_modules
# Ignore artifacts:
build
coverage
