@font-face {
  font-family: Vazirmatn;
  src: url('../assets/fonts/Vazir/Vazirmatn-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VazirmatnBold;
  src: url('../assets/fonts/Vazir/Vazirmatn-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VazirmatnFaNum;
  src: url('../assets/fonts/VazirFaNum/Vazirmatn-FD-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VazirmatnFaNumBold;
  src: url('../assets/fonts/VazirFaNum/Vazirmatn-FD-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.vazir-bold {
  font-family: VazirmatnBold;
}
.fa-num-font {
  font-family: VazirmatnFaNum;
}
.fa-num-font-bold {
  font-family: VazirmatnFaNumBold;
}
