/* IRAN Yekan */
@font-face {
  font-family: yekanN;
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Yekan/iranyekanwebregularfanum.eot');
  src: url('../assets/fonts/Yekan/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Yekan/iranyekanwebregularfanum.woff') format('woff'),
    url('../assets/fonts/Yekan/iranyekanwebregularfanum.ttf') format('truetype');
}
@font-face {
  font-family: yekanB;
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/Yekan/iranyekanwebextraboldfanum.eot');
  src: url('../assets/fonts/Yekan/iranyekanwebextraboldfanum.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/Yekan/iranyekanwebextraboldfanum.woff') format('woff'),
    url('../assets/fonts/Yekan/iranyekanwebextraboldfanum.ttf') format('truetype');
}
/* IRAN Sans */
@font-face {
  font-family: IRANSansB;
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/Sans/IRANSansWeb_Bold.eot');
  src: url('../assets/fonts/Sans/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Sans/IRANSansWeb_Bold.woff2') format('woff2'),
    url('../assets/fonts/Sans/IRANSansWeb_Bold.woff') format('woff'),
    url('../assets/fonts/Sans/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
  font-family: IRANSansN;
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Sans/IRANSansWeb_Light.eot');
  src: url('../assets/fonts/Sans/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Sans/IRANSansWeb_Light.woff2') format('woff2'),
    url('../assets/fonts/Sans/IRANSansWeb_Light.woff') format('woff'),
    url('../assets/fonts/Sans/IRANSansWeb_Light.ttf') format('truetype');
}
