@import './reset.min.css';
@import './toastColor.css';
@import './fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  overflow-x: hidden;
  font-family: yekanN;
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.en-num-font {
  font-family: yekanEN;
}
