@import './reset.min.css';
@import './toast-color.css';
@import './fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  overflow-x: hidden;
  font-weight: normal;
  font-family: Vazirmatn;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
